/*===============================================================================================*/
/*  defaults  -----------------------------------------------------------------------------------*/

body {
	  font-family: Arial, Helvetica, sans-serif;
    background: #FFF;  }

table {
    font-size: 1em;  }

.ui-draggable, .ui-droppable {
    background-position: top;  }

.left {  float: left  }
.right {  float: right  }

.textfield {
  text-align: left;  }

/*===============================================================================================*/
/*  top menu  -----------------------------------------------------------------------------------*/

#topnav {
    height: 40px;
    overflow: hidden;
    background-color: #123;  }


#topnav button {
    float: left;
    display: block;
    border: none;
    padding: 9px;
    color: #DEF;
    background-color: #123;
    text-align: center;
    text-decoration: none;  }


/*  stack nav-buttons on tiny screens  */
@media screen and ( max-width: 450px ) {
    .topnav a {
        float: none;
        width: 100%;
        padding: 3px;  }
}

/*===============================================================================================*/
/*  main  ---------------------------------------------------------------------------------------*/

#cloth {
    float: left;
    border: 6px double #789;
    width: 50px;
    height: 50px;  }


#sliders {
    float: right;
    width: 35%;
    padding: 25px 3px;
    background-color: #789;  }


.slide .label {
    color: #345;
    font-size: 16px;
    text-shadow: -1px 1px #123;
    top: -25px;
    position: relative;
    text-align: left;  }


.slide .info {
    width: 28px;  }


.slide {
    float: right;
    right: 12px;
    width: 83%;
    height: 8px;
    margin: 15px 0px;
    background-color: #123;  }


.slide .info {
    left: -56px;
    width: 36px;
    position: relative;  }


.x .ui-slider-range {  background-color: #FCC;  }
.y .ui-slider-range {  background-color: #CFC;  }
.z .ui-slider-range {  background-color: #CCF;  }


.x .ui-slider-handle {  height: 15px;  top: -1px;  border-width: 2px;  background-color: #FCC;  border-color: #900;  }
.y .ui-slider-handle {  height: 15px;  top: -1px;  border-width: 2px;  background-color: #CFC;  border-color: #090;  }
.z .ui-slider-handle {  height: 15px;  top: -1px;  border-width: 2px;  background-color: #CCF;  border-color: #009;  }


.x {  background-color: #CAA;  }
.y {  background-color: #ACA;  }
.z {  background-color: #AAC;  }


/*  sliders below on small screens  */
@media screen and ( max-width: 600px ) {
    .sliders {
        width: 100%;  }
}

/*===============================================================================================*/
/*  footer  -------------------------------------------------------------------------------------*/

#footer {
    height: 60px;
    text-align: center;
    background-color: #123;
    position: absolute;
    display: block;
    bottom: 0;  }


#footer pre {
    color: #DEF;  }


#input {
    padding: 3px;
    margin: 3px;
    color: #DEF;
    font-size: 23px;
    height: 28px;
    width: 48%;
    bottom: 12px;
    left: 8px;
    position: absolute;
    background-color: #789  }


#output {
    padding: 3px;
    margin: 3px;
    color: #DEF;
    font-size: 23px;
    height: 28px;
    width: 48%;
    bottom: 12px;
    right: 8px;
    position: absolute;
    background-color: #789  }

/*===============================================================================================*/
/*  eof  ----------------------------------------------------------------------------------------*/
